<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartgrain.com">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".date.service.NewsListService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".date.activity.TransactionList" />
        <activity android:name=".date.activity.TransactionDeatilActivity" />
        <activity android:name=".date.activity.NoticeActivity" />
        <activity android:name=".date.activity.SeeActivity"></activity>
        <activity android:name=".tech.activity.TechDetailActivity"></activity>


        <service
            android:name=".date.service.NewsDetailService"
            android:exported="false" />

        <service
            android:name=".date.service.NoticeService"
            android:exported="false"></service>
        <service android:name=".date.service.SeeService"></service>
    </application>

</manifest>